<html>
<head>
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-date-picker")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResourcesForContext("jira-customize")
    <style>
        .table-no-data {
            text-align: center !important;
            font-size: 20px;
            font-weight: bold;
            color: gray;
        }

        .text-align-right {
            text-align: right !important;
        }

        .monitor-item {
            text-align: right;
            padding: 0 10px;
        }

        .field-width-100 {
            max-width: 100px !important;
        }

        .heading-monitor {
            display: flex;
            margin-bottom: 10px;
        }

        .body-monitor {
            overflow: auto;
            margin: 10px 0;
            padding: 10px 0;
        }

        .tabble-summary td, .tabble-summary th {
            border: 1px solid #ccc !important;
        }

        .background-yellow {
            background-color: #ffff00;
        }

        .background-red {
            background-color: #ff0000;
        }
        .myText{
            margin-left: 4.65px;
        }
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }

    </style>
</head>
<body>
#*
<div>
    <div class="aui-item releases-add__date-start">
        <label style="padding-right: 5px;" for="monitor-start-date">Start date:</label>
        <input id="monitor-start-date" class="aui-date-picker text field-width-100" type="text"
               name="monitor-start-date"
               placeholder="Start date">
        <a href="javascript:void(0)" id="trigger-start-date" title="Select a date">
            <span class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        </a>
        <div id="error-start-date" class="error-container error"></div>
    </div>
    <div class="aui-item releases-add__date-release">
        <label style="padding-right: 5px;" for="monitor-end-date">End date:&nbsp;</label>
        <input id="monitor-end-date" class="aui-date-picker text field-width-100" type="text"
               name="monitor-end-date"
               placeholder="End date">
        </input>
        <a href="javascript:void(0)" id="trigger-end-date" title="Select a date">
            <span class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        </a>
        <div id="error-end-date" class="error-container error"></div>
    </div>*#
    <div class="releases-add__date-start">
        <label style="padding-right: 5px;" for="monitor-start-date">Start date:</label>
        <input id="monitor-start-date" class="aui-date-picker text" type="text" name="startDate"
               placeholder="Start date (optional)"></input>
        ##    <a href="javascript:void(0)" id="trigger-start-date" title="Select a date">
        ##        <span class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        ##    </a>
        <div id="error-start-date" class="error-container error">
        </div>
    </div>

    <div class="releases-add__date-release">
        <label style="padding-right: 5px;" for="monitor-end-date">End date:</label>
        <input id="monitor-end-date" class="aui-date-picker text myText" type="text" name="endDate"
               placeholder="End date (optional)">
        ##    <a href="javascript:void(0)" id="trigger-end-date" title="Select a date">
        ##        <span class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        ##    </a>
        <div id="error-end-date" class="error-container error">
        </div>
    </div>


    <input type="text" id="projectId" value="$projectId" hidden="hidden">
    <div class="releases-add__confirm">
        <button class="aui-button" type="button" id="monitor-export-link">Search</button>
    </div>

    <input hidden="hidden" type="button" onclick="CreateTableFromJSON()" value="Create Table From JSON" />
    <div id="showData"></div>



    #*<div class="body-monitor">
    <table class="aui tabble-summary">
        <thead>
        <tr>
            <th class="myText">Subject</th>
            <th class="myText">Job Poisition</th>
            <th class="myText">Contract Type</th>
            <th class="myText">Leave Type</th>
            <th class="myText">Start Day Off</th>
            <th class="myText">Total Day Off</th>
            <th class="myText">Reason For Leave</th>
            <th class="myText">Work Authorization For</th>
            <th class="myText">Phone</th>


        </tr>
        </thead>
        <tbody id="body-perform">

        #if(listLeave.size() > 0)
        #foreach($element in listLeave)
        <tr>
        <td class="text-align-right myText">$element.subject</td>
        <td class="text-align-right myText">$element.jobPoisition</td>
        <td class="text-align-right myText">$element.contractType</td>
        <td class="text-align-right myText">$element.leaveType</td>
        <td class="text-align-right myText">$element.startDayOff</td>
        <td class="text-align-right myText">$element.totalDayOff</td>
        <td class="text-align-right myText">$element.reasonForLeave</td>
        <td class="text-align-right myText">$element.workAuthorizationFor</td>
        <td class="text-align-right myText">$element.phone</td>
        <tr>
            #end
            #else
            <tr>
                <td colspan="19" class="table-no-data">No data</td>
            </tr>
            #end
        </tr>
        </tbody>
    </table>*#
</div>
</div>
<!-- Start Test Execute Detail-->
<!-- End Test Execute Detail-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        // window.onbeforeunload = null;
        // Date picker
        AJS.$('#monitor-start-date').datePicker({'overrideBrowserDefault': true, 'dateFormat': 'dd/mm/yy'});
        AJS.$('#monitor-end-date').datePicker({'overrideBrowserDefault': true, 'dateFormat': 'dd/mm/yy'});
        AJS.$("#trigger-start-date").click(function () {
            AJS.$('#monitor-start-date').datePicker({'overrideBrowserDefault': true, 'dateFormat': 'dd/mm/yy'});
        });
        AJS.$("#trigger-end-date").click(function () {
            AJS.$('#monitor-end-date').datePicker({'overrideBrowserDefault': true, 'dateFormat': 'dd/mm/yy'});
        });


        $("#monitor-export-link").click(function () {
            jQuery.ajax({
                url: "../plugins/servlet/leaveservlet?startDate=" + $("#monitor-start-date").val() + "&endDate=" + $("#monitor-end-date").val(),
                type: "POST",
                dataType: "json",
                success: function (res) {
                    debugger;
                    if (res.listLeave != null && res.listLeave.length) {
                        console.log(res.listLeave);
                        // var col = [];
                        // for (const obj of res.listLeave) {
                        //     console.log(obj);
                        //     if (col.indexOf(obj) === -1) {
                        //         col.push(obj);
                        //     }
                        // }

                        var col = [];
                        for (var i = 0; i < res.listLeave.length; i++) {
                            for (var key in res.listLeave[i]) {
                                if (col.indexOf(key) === -1) {
                                    col.push(key);
                                }
                            }
                        }

                        var table = document.createElement("table");

                        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

                        var tr = table.insertRow(-1);                   // TABLE ROW.
                        const headerArr = ["Subject", "Job Poisition", "Contract Type", "Leave Type", "Start Day Off", "Total Day Off", "Reason For Leave", "Work Authorization For", "Phone"];
                        for (var i = 0; i < col.length; i++) {
                            var th = document.createElement("th");      // TABLE HEADER.
                            th.className = "myText";
                            th.innerHTML = headerArr[i];
                            tr.appendChild(th);
                        }

                        // ADD JSON DATA TO THE TABLE AS ROWS.
                        for (var i = 0; i < res.listLeave.length; i++) {

                            tr = table.insertRow(-1);

                            for (var j = 0; j < col.length; j++) {
                                var tabCell = tr.insertCell(-1);
                                tabCell.innerHTML = res.listLeave[i][col[j]];
                            }
                        }

                        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                        var divContainer = document.getElementById("showData");
                        divContainer.innerHTML = "";
                        table.className = "aui tabble-summary";
                        divContainer.appendChild(table);
                    }
                }, error: function(res) {
                }
            })
        });
    });

    // Validate datepicker
    function onchangeStartDate(startDate) {
        if (startDate !== '' && !moment(startDate, 'dd/mm/yy', true).isValid()) {
            $(`#monitor-start-date`).val('');
            $(`#error-start-date`).empty().append('Invalid date.');
            setTimeout(
                    function () {
                        $(`#error-start-date`).empty();
                    }
                    , 1500
            );
        } else
            $(`#error-start-date`).empty();
    }

    function onchangeEndDate(endDate) {
        if (endDate !== '' && !moment(endDate, 'dd/mm/yy', true).isValid()) {
            $(`#monitor-end-date`).val('');
            $(`#error-end-date`).empty().append('Invalid date.');
            setTimeout(
                    function () {
                        $(`#error-end-date`).empty();
                    }
                    , 1500
            );
        } else
            $(`#error-end-date`).empty();
    }

    // validate edit date


</script>
</body>
</html>
